#main {
	position: fixed;
	width:80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

#inspirational-quote{
	position:relative;
	top:10px;
	font-size:30px;
	color:#fff;
	background-color:#000;
}

#more-inspiration-button{
	font-weight:bold;
	font-size:20px;
}

body{
	background-image: url("../img/anotherOne.jpg");
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
}